.Ficha {
    border: 2px solid #423737;
    padding: 16px;
    border-radius: 8px;
    background-color: #878f59;
}
.Ficha {
    text-align: center;
    max-width: 400px;
    margin-top: 120px;
    margin-inline: 600px;
    background-color: #f9f9f9;
}
.nombre {
    font-size: 1.5em;
    margin-bottom: 8px;
}
.precio{
    color: #28a745;
    font-weight: bold;
    margin-bottom: 16px;
}
.boton {
    padding: 8px 16px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}